.main-editar{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.main-cadastro{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #232931 0%, #181C22 100%) #232931;
}

.pfp-editar{
    width: 18.125rem;
    height: 18.125rem;
    border-radius: 1.875rem;
    object-fit: cover;   
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 7px 16px 0px rgba(0, 0, 0, 0.10), 0px 29px 29px 0px rgba(0, 0, 0, 0.09), 0px 65px 39px 0px rgba(0, 0, 0, 0.05), 0px 115px 46px 0px rgba(0, 0, 0, 0.01), 0px 180px 50px 0px rgba(0, 0, 0, 0.00);
    
}

.inputs-editar{
    width: 100%;
    margin-top: 2rem;
}


label{
    width: 100%;
    color: #fff;
    font-size: 2.25rem;
    font-weight: 700;
    font-style: italic;
    margin-left: 10%;
}

.input-style::placeholder{
    font-style: italic;
}

label img{
    height: 2.5rem;
    margin-bottom: -0.5rem ;
}

.editar-btn-confirmar{
    width: 23rem;
    height: 4.0625rem;
    background: linear-gradient(126deg, #4ECCA3 0%, #268A69 100%);
    border: 3px solid #3e7a65;
    border-radius: 3.125rem;
    box-shadow: 0px 0px 0px 3px #4ECCA3;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1B2026;
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    
}

.check-btn{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
}

.inter-bio-cont{
    cursor: pointer;
}

.inter-bio-cont input:checked ~ p{
    background: url(../imagens/checked.svg);
    background-position: right;
    background-size: cover;
}

.inter-editar{
    width: 80vw;
}

.inter-editar label{
    margin: 0 auto;
}

@media screen and (min-width: 1000px) {
    .main-editar{
        width: 90%;
    }
    .pfp-editar{
        height: 30rem;
        width: 30rem;
    }
}

