.pesquisar{
    border-radius: 15px;
    border: 3px solid #3e7a65;
    background: #232931;
    width: 90vw;
    height: 5vh;
    font-size: 1rem;
    color: #fff;
    padding-left: 1rem;
    display: flex;
    outline: none;
    margin-top: 6rem;
}

.main-pesquisa{
    width: 96%;
}

.categorias-container{
    width: 90vw;
    border-radius: 2rem;
    overflow: hidden;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-pesquisa{
    color: #4ECCA3;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
}

.categoria{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 25vh;
    color: #fff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, #181C22 100%), url(../imagens/fundo-card.svg);
    background-position: center;
    background-size: cover;
}

.categoria-title{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    .pesquisar {
        width: 80vw;
        margin-top: 3rem;
    }

    .categorias-container {
        width: 80vw;
        grid-template-columns: 1fr;
    }

    .categoria {
        height: 20vh;
    }

    .user-body img {
        height: 8vh;
    }

    .username {
        font-size: 1rem;
    }

    .user-btn {
        height: 4vh;
        font-size: 20px;
        margin-left: -1vw;
    }
}

@media screen and (min-width: 1000px) {
    .pesquisar {
        width: 1000px;
        margin-top: 6rem;
    }

    .categorias-container {
        width: 1000px;
        grid-template-columns: 1fr 1fr;
    }

    .categoria {
        height: 25vh;
    }

    .user-body img {
        height: 10vh;
    }

    .username {
        font-size: 1.3rem;
    }

    .user-btn {
        height: 5vh;
        font-size: 25px;
        margin-left: -2vw;
    }
    .eventos-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

.user-body{
    display: flex;
    flex-direction: row;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    background: #232931;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.user-body img{
    border-radius: 10px;
    aspect-ratio: 1/1;
    height: 10vh;
    object-fit: cover;
    margin:auto 0;
}

.username{
    margin-left: 1rem;
    font-size: 1.3rem;
}

.user-btn{
    outline: none;
    border: none;
    background: #4ECCA3;
    height: 5vh;
    aspect-ratio: 4/4;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 800;
    margin-left: -2vw;
    transition: all 0.2s ease-in-out;
}

.user-btn:hover{
    box-shadow: 0px 0px 15px 0px rgba(78, 204, 163, 0.50);
    scale: 1.2;
}

.card-body{
    height: fit-content;
    padding: 0 0 1rem 0;
}

.container-pesquisar{
    width: 100%;
    display: flex;
}

