#wrapper {
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 0;
  flex-direction: column;
  height: fit-content;
  margin-top: 4vh;
}

.main-home {
  width: 98%;
}

#bv {
  width: 100%;
  color: rgba(78, 204, 163, 0.54);

  font-size: 3rem;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
}

#nome {
  width: 15rem;
  margin-top: -2rem;
  color: #fff;
  font-size: 3rem;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: #4ecca3;
  font-weight: 800;
}

#posts{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  min-height: 25vh;
  color: transparent;
  margin-bottom: 5vh;
  height: 60vh;
  border-radius: 20px;
  overflow-y: scroll;
}

#posts-recomendados {
  margin-top: 0.5rem;
  text-align: center;
  color: #4ecca3;

  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.card-body {
  width: 100%;
  height: fit-content;
  padding: 0 0 1rem 0;
  animation: fadeIn 1s ease-in-out;
}

.card {
  height: 45vh;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pfp {
  margin: 3px;
  border-radius: 15px;
  height: 7vh;
  flex: 1;
  aspect-ratio: 1/1;
  flex-grow: none;
  flex-shrink: none;
}

.textos-card {
  align-items: center;
  margin-left: 0.88rem;
  width: 90%;
  margin-top: 0;
}

span {
  text-decoration: underline;
  text-decoration-color: #4ecca3;
  text-decoration-thickness: 3px;
}

.info {
  color: #fff;

  font-size: 0.75rem;
  font-style: normal;
  line-height: normal;
}

.nome-card {
  color: #fff;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: fit-content;
  margin-left: 0;
  border-radius: 1rem;
}

.participar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 2vh;
  height: 9vh;
  border-radius: 15px;
  border: #4ecca3 3px solid;
  color: #fff;
  transition: 0.2s ease-in-out;
  font-size: 24px;
  background-color: #232931e3;

  font-weight: 700;
}

.participar:hover {
  background: #4ecca3;
  color: #232931;
  box-shadow: 0px 0px 15px 0px rgba(78, 204, 163, 0.5);
}

h3 {
  grid-column: 1/-1;
  width: 90%;
  font-size: 24px;
  border-radius: 15px;
  background: #232931;
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 5% 0 5%;
}

@media (max-width: 500px) {
  .participar {
    height: 8vh;
    font-size: 20px;
  }
}
@media (max-width: 340px) {
  .nome-card {
    font-size: 1.1rem;
  }
}

@media (min-width: 800px) {
  #posts-recomendados {
    text-align: start;
    width: 50%;
    margin-left: 4rem;
  }
  #nav-imgs {
    width: 100%;
  }
  #navdentro {
    width: 25vw;
  }
  #nome-perfil {
    font-size: 24px;
    margin-left: 1rem;
  }
  .nav-titles {
    font-size: 24px;
  }
  .navs {
    width: 3rem;
  }
  #bv {
    width: 50%;
    font-size: 4rem;
  }
  #nome {
    width: 50%;
    margin-top: -3rem;
    font-size: 4rem;
  }
  .card-body {
    width: 95%;
  }
  #posts {
    grid-template-columns: 1fr 1fr;
  }
  .info {
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  #bv {
    width: 50%;
    font-size: 6rem;
  }
  #nome-perfil {
    font-size: 32px;
    margin-left: 1rem;
  }
  .nav-titles {
    font-size: 32px;
  }
  #nome {
    width: 50%;
    margin-top: -5rem;
    font-size: 6rem;
  }

  #posts {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-top {
  margin-top: 0;
  border-radius: 15px;
  width: fit-content;
  height: 14vh;
  background: rgba(35, 41, 49, 0.874);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  overflow: hidden;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.1),
    10px 9px 13px 0px rgba(0, 0, 0, 0.09),
    22px 20px 18px 0px rgba(0, 0, 0, 0.05),
    39px 35px 21px 0px rgba(0, 0, 0, 0.01), 60px 55px 23px 0px rgba(0, 0, 0, 0);
}