
.inp-header {
  color: #fff;
  font-family: Poppins;
  font-size: 1.875rem;

  font-weight: 700;
  line-height: normal;
  margin-left: 0.8rem;
}

.inp-criar {
  width: 85vw;
  height: 3.75rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 3px solid #4ecca3;
  background: #232931;
  margin-bottom: 0.5rem;
  outline: none;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  align-self: center;
}

.inp-criar::placeholder {
  color: rgba(255, 255, 255, 0.12);
  font-size: 1rem;
  align-self: center;
}

#wrapper-criar {
  display: flex;
  flex-direction: column;
  margin-top: -20vh;
  width: 100%;
  height: 100%;
  z-index: 200;
}

#btn-criar {
  margin-top: 1rem;
  width: 90%;
  border-radius: 3.125rem;
  border: 3px solid #1a1e24;
  background: linear-gradient(126deg, #4ecca3 0%, #268a69 100%);
  box-shadow: 0px 0px 0px 3px #4ecca3, 0px 0px 0px 0px rgba(70, 197, 170, 0.1),
    0px 8px 19px 0px rgba(70, 197, 170, 0.1),
    0px 34px 34px 0px rgba(70, 197, 170, 0.09),
    0px 76px 46px 0px rgba(70, 197, 170, 0.05),
    0px 135px 54px 0px rgba(70, 197, 170, 0.01),
    0px 211px 59px 0px rgba(70, 197, 170, 0);
  margin-bottom: 8rem;
  height: 4.0625rem;
  color: #1b2026;
  font-family: Poppins;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 700;
  align-content: center;
}

.preencha {
  color: #fff;
  width: 90%;
  text-align: center;
}

.tipo-title {
  width: 100%;
  height: 15vh;
  background: #4ecca3;
  color: #1a1e24;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-start;
}

.btnInteresse {
  width: 100%;
  height: 10vh;
  background-position: center;
  background-size: 100%;
  margin-bottom: 1vh;
  outline: none;
  border: 0;
  border-radius: 15px;
  color: #fff;
  font-size: 24px;
  text-align: left;
  padding-left: 2vw;
  transition: all 0.5s ease-in-out;
}

.btnInteresse:hover {
  transition: all 0.5s ease-in-out;
  background-size: 110%;
}

.tipo-title h1 {
  font-size: 32px;
  font-weight: 700;
  margin-left: 5vw;
  margin-bottom: 1vh;
  text-shadow: 4px 0px 9px rgba(0, 0, 0, 0.15),
    17px 2px 17px rgba(0, 0, 0, 0.13), 38px 4px 23px rgba(0, 0, 0, 0.08),
    68px 7px 27px rgba(0, 0, 0, 0.02), 107px 11px 30px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 500px) {
  .tipo-title h1 {
    font-size: 24px;
  }
}

.tipo-container {
  width: 95%;
  margin-top: 2vh;
  padding-bottom: 5vh;
}

.seus {
  width: 100%;
  height: 37vh;
  overflow-y: scroll;
  border-radius: 20px;
}

.header-tipo {
  width: 100%;
  color: #4ecca3;
  font-size: 30px;
  margin: 15px auto;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
}
.linha-tipo {
  height: 12px;
  background: #4ecca3;
  border-radius: 20px;
  flex: 1;
}

.main-criar{
  background: #181d22;
  width: 100%;
  height: 100%;
}

.criar-header{
  width: 100vw;
  height: 45vh;
  background-size: cover;
  background-position: center;
}