.participantes{
    margin-top: 0.5rem;
    color: #4ECCA3;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    position: relative;
}

.main-detalhes{
    min-height: 110vh;
    padding-bottom: 5vh;
}

.user-container-seg{
    width: 100%;
}

.main-participantes{
    margin-top: 5vh;
    width: 90%;
} 

main{
    width: 100%;
    min-height: 100vh;
}

.img-detalhes{
    width: 100%;
    top: 0;
    left: 0;
    height: 45vh;
    object-fit: cover;
}

.text-info, .nome-det{
    color: #fff;
}

.nome-det{
    font-style: italic;
}

.criadopor, .title-info{
    color: #4ECCA3;
    font-weight: 700;
}

.conteudo-detalhes{
    margin-top: -4.4vh;
    display: flex;
    width: 90vw;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.profile-text-det, .det-info{
    text-align: center;
    line-height:30px;
}

.header-detalhes{
    width: 100%;
    height: 7.5vh;
    background: #4ECCA3;
    color: #181C22;
    font-style: italic;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.det-info, .profile-detalhes{
    border-radius: 15px;
    background: #0F1217;
    width: 100%;
    height: 13vh;
}

.profile-detalhes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pfp-det{
    border-radius: 15px;
    aspect-ratio: 1/1;
    height: 13vh;
    margin: 0;
}

.criadopor, .title-info{
    margin-top: -17px;
    font-size: 20px;
}

.text-info{
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5vw;
}

.det-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-info{
    text-align: center;
    margin: 0 auto;
}

.btnParticipantes{
    border: 3px solid rgba(78, 204, 163, 0.2);
    transition: 0.5s ease-in-out;
}

.btnParticipantes:hover {
  border-color: rgba(78, 204, 163, 0.54);
}
