.main-perfil{

    width: 100%;
    min-height: 100vh;
    padding-bottom: 5rem;
    background: linear-gradient(180deg, #232931 0%, #181C22 100%) #232931;
}

.img-perfil{
    width: 100vw;
    height: 50vh;
    /* background: url(../imagens/minhacara.svg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.conteudo{
    z-index: 1;
    width: 100%;
    position: absolute;
    display: flex;
    border-radius: 1.5625rem 1.5625rem 0 0;
    margin-top: -2rem;
    background: #181C22;
}

.top-perfil{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-bottom: #4ecca3 5px solid;
}

.nome-perfil{
    color: #fff;
    font-weight: 700;
    font-size: 2.25rem;
}

.idade-perfil{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
}

.bio{
    padding-top: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bio-header{
    color:#3e7a65;
    font-size: 2.25rem;
    font-weight: 700;
    font-style: italic;
}

.bio-text{
    position: relative;
    color: #FFF;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 700;
    margin-top: -1.8555rem;
    width: 90%;

}

.verde-aspas{
    color: #4ecca3;
    text-align: center;
    text-decoration: none;
}

.btn-editar{
    margin-top: 1rem;
    display: flex;
    width: 15.5625rem;
    cursor: pointer;
    border-radius: 1.5625rem;
    background: #232931;
    transition: .2s ease-in-out;
}

.btn-editar img{
    margin-left: 0;
    height: 100%;
}

.btn{
    border: none;
    margin-right: 0;
    width: 11.5625rem;
    text-align: center;
    border-radius: 1.5625rem;
    background: #393E46;
    align-items: center;
    padding: 0.2rem;
    display: flex;
    color: #FFF;
    align-items: center;
    justify-content: center;
    font-size:1.5rem;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #4ecca3;
}

.meus-interesses{
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
}

.inter-header, .post-header{
    color: #3e7a65;
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

.interesse-card{
    height: 10vh;
    width: 95%;
    border-radius: 10px;
    overflow: hidden;
    background: url(../imagens/fundo-card.svg);
    background-position: 50% 50%;
    background-size: 100%;
    transition: .5s ease-in-out;
    font-size: 1.7rem;
}

.interesse-card:hover{
    scale: 102%;
    font-size: 32px;
    background-size: 105%;
    background-position: 30% 50%;
}

.inter-title{
    background: linear-gradient(to left, rgb(24, 28, 34, 0) 0%, rgb(24, 28, 34, 1) 100%);
    line-height: 10vh;
    
    color: #FFF;
    font-weight: 500;
    width: 100%;
    text-align: left;
    padding-left: 2vw;
}

.meus-posts{
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.posts-main{
    width: 100%;
}

.post-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.btn-detalhe{
    width: 13.1875rem;
    height: 2.5rem;
    font-size: 1.5rem;
    color: #181C22;
    font-weight: 700;
    outline: none;
    border: 0;
    border-radius: 1.25rem;
    background: #4ECCA3;
    box-shadow: 0px 0px 4px 0px #4ECCA3;
    margin-right: 0;
    margin-top: -1rem;
}

.post-top{
    display: flex;
    flex-direction: row;
    color: #FFF;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 5rem;
    border-radius: 2.5rem;
    background: #232931;
}

.img-post{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin-left: 0;
    margin-right: 0;
    background-size: cover;
    background-position: center;
}

.post-text{
    margin-left: 0.5rem;
    margin-top: 0;
}

.post-title{
    margin-top: 0;
}

.inter-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        row-gap: 2vh;
}

.user-container-inter{
    width: 95vw;
}

@media screen and (min-width: 1000px) {
    .inter-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .interesses-card {
        width: 100%;
    }
}

@media screen and (min-width: 1500px) {
    .inter-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .interesses-card {
        width: 100%;
    }
}

.seg-container{
    width: 70%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    margin-top: 2vh;
}

.seg-c-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.btn-seg{
    margin: 0;
    outline: none;
    border: 2px #3e7a65 solid;
    width: 100%;
    height: 5vh;
    background: #232931;
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
    transition: .3s;
    font-weight: 700;
}
.btn-seg:hover{
    scale: 105%;
    color: #4ECCA3;
    border: 4px #4ECCA3 solid;
}
#deslogar{
    border: 2px rgba(163, 66, 66, 0.575) solid;
}
#deslogar:hover{
    border: 4px rgba(237, 89, 89, 0.575) solid;
    color:rgba(237, 89, 89, 0.575);
}

.btn-editar:hover{
    background: #4ECCA3;
    box-shadow: 0px 0px 15px 0px rgba(78, 204, 163, 0.50);
}

.header-perfil-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.linha-verde{
    width: 70%;
    height: 1.5vh;
    background: #3e7a65;
    border-radius: 10px ;
    margin: 0 1vh;
}


@media (min-width: 1000px) {
    .conteudo{
        width: 100%;
        margin-top: 0;
        position: relative;
        margin-bottom: 2vh;
    }
    .main-perfil{
        background: linear-gradient(180deg, #232931 0%, #181C22 100%);
        background-blend-mode: color;
    }
    .bio{
        padding-top: 0;
    }
    .btn-seg{
        font-size: 24px;
    }

    .meus-posts{
        width: 100%;
        align-items: center;
    }

    .posts-main {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding-bottom: 5vh;
        margin: 0 ;
    }


    .wrapper-perfil-top{
        width: 90%;
        margin: 0 auto;
        padding-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }
    .wrapper-perfil-left{
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        border-radius: 1.875rem;
        background: #232931;
        box-shadow: 0px 0px 0px 0px rgba(35, 41, 49, 0.10), 7px 19px 44px 0px rgba(35, 41, 49, 0.10), 28px 74px 79px 0px rgba(35, 41, 49, 0.09), 63px 167px 107px 0px rgba(35, 41, 49, 0.05), 111px 297px 127px 0px rgba(35, 41, 49, 0.01), 174px 464px 139px 0px rgba(35, 41, 49, 0.00);
        height: 50vh;
        margin-top: 0;
    }
    .wrapper-perfil-bottom{
        width: 90%;
        border-radius: 1.875rem;
        background: #232931;
        box-shadow: 0px 0px 0px 0px rgba(35, 41, 49, 0.10), 7px 19px 44px 0px rgba(35, 41, 49, 0.10), 28px 74px 79px 0px rgba(35, 41, 49, 0.09), 63px 167px 107px 0px rgba(35, 41, 49, 0.05), 111px 297px 127px 0px rgba(35, 41, 49, 0.01), 174px 464px 139px 0px rgba(35, 41, 49, 0.00);
    }
    .post-header,.inter-header{
        font-size: 3.5rem;
    }
    .btn-editar{
        scale: 115%;
        margin-top: 2rem;
        background: #1c2129;
    }
    .img-perfil{
        flex: 1;
        width: 50vw;
        aspect-ratio: 1 / 1;
        border-radius: 1.875rem;
        box-shadow: 0px 0px 0px 0px rgba(35, 41, 49, 0.10), 7px 19px 44px 0px rgba(35, 41, 49, 0.10), 28px 74px 79px 0px rgba(35, 41, 49, 0.09), 63px 167px 107px 0px rgba(35, 41, 49, 0.05), 111px 297px 127px 0px rgba(35, 41, 49, 0.01), 174px 464px 139px 0px rgba(35, 41, 49, 0.00);
        width: fit-content;
    }
    .nome-perfil {
        font-size: 3vw;
    }
    .bio-header{
        font-size: 3VW;
    }
    .idade-perfil{
        margin-left: 1rem;
        font-size: 2VW;
    }
    .bio-text{
        font-size: 1.5vw;
        margin-top: -2.32vw;
    }
}
