@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.spanTitulo{
  letter-spacing: 0px;
  font-size: 40px;
  font-weight:600;
  color:#4B8E1A;
}

.spanTexto{
  color:#4B8E1A;
}

.Fundo{
  text-align: center;
  align-items: center;
  color: #ffffff;
  width: 100%;
  height: 97vh;
}

.tituloEntrar{
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 50px;
  width: 60vw;
  margin-left: 20vw;
  border-radius: 15px;
  border-bottom: 3px solid hsl(258, 100%, 55%);
  box-shadow: 0px 3px 3px 0px #7A28FF;
  animation: tituloEntrar 3s forwards;
}

@keyframes tituloEntrar {
  0% {
    transform: translateX(-50px);
  }
}

.textoInfo{
  margin-top: 3vh;
  width: 85vw;
  margin-left: 7.5vw;
  border-radius: 15px;
  border-bottom: 3px solid #4B8E1A;
  box-shadow: 0px 5px 5px 0px #7A28FF;
  animation: textoInfo 3s forwards;
}

@keyframes textoInfo {
  0% {
    transform: translateX(20px);
  }
}

.bordaEntrar{
  margin-top: 50px;
  margin-left: 3.8vw;
  width: 360px;
  height: 310px;
  background-image: linear-gradient(135deg, #7A28FF,#70FF00);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fundoMenorEntrar{
  width: 350px;
  height: 300px;
  background-image: linear-gradient(#202020, #4b228d);
  border-radius: 20px;
}

.textoEmail{
  margin-top: 25px;
  width: 250px;
  margin-left: 45px;
  border-radius: 15px;
  border-bottom: 2px solid #4B8E1A;
  box-shadow: 0px 1px 1px 0px #7A28FF;
}

.Google{
  margin-top: 35px;
  color: #ffffff;
  width: 60vw;
  height: 7vh;
  border-radius: 15px;
  border: 2px solid #603b9c;
  background-color: #202020;
  font-size: 20px;
  font-weight:600;
  animation: Google 3s infinite;
  box-shadow: 0px 4px 4px 0px #7A28FF;
}

@keyframes Google {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.Google:hover{
  border: 2px solid #4B8E1A;
  background-color: #2b0a5f;
}

/*Bio*/

.bordaBio{
  margin-top: 50px;
  margin-left: 3.8vw;
  width: 360px;
  height: 580px;
  background-image: linear-gradient(135deg, #7A28FF,#70FF00);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fundoMenorBio{
  width: 350px;
  height: 570px;
  background-image: linear-gradient(#202020, #4b228d);
  border-radius: 20px;
}

.Bio{
  font-size: 40px;
  margin-top: 3vh;
  color: #4B8E1A;
}

.inputBio{
  color: #ffffff;
  font-size: 17px;
  margin-top: 4vh;
  height: 6vh;
  width: 80vw;
  border: none;
  background-color: #202020;
  box-shadow: 0px 5px 5px 0px #7A28FF;
  border-radius: 15px;
  padding-left: 15px;
}

.salvarBio{
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  height: 6vh;
  width: 45vw;
  margin-top: 5vh;
  background-color: #330085;
  border-radius: 15px;
  border:2px solid #4B8E1A;
}

/* Home */

.homeNome{
  margin-left: 17vw;
  margin-top: 3vh;
  width:65vw;
  border-radius: 15px;
  border-bottom: 3px solid #4B8E1A;
  box-shadow: 0px 5px 5px 0px #7A28FF;
  animation: homeNome 3s forwards;
}

@keyframes homeNome {
  0% {
    transform: translateX(-50px);
  }
}

.HomePreparamos{
  margin-top: 2vh;
  margin-left: 12vw;
  width:75vw;
  animation: homePreparamos 3s forwards;
}

@keyframes homePreparamos {
  0% {
    transform: translateX(50px);
  }
}

.todosPostsHome{
  margin-left: 24.5vw;
  margin-top: 2vh;
  width:50vw;
  border-radius: 15px;
  border-bottom: 4px solid #4B8E1A;
}

.bordaHome{
  margin-top: 2vh;
  margin-left: 3.8vw;
  width: 360px;
  height: 525px;
  background-image: linear-gradient(135deg, #7A28FF,#70FF00);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fundoMenorHome{
  width: 350px;
  height: 515px;
  background-image: linear-gradient(#202020, #4b228d);
  border-radius: 20px;
  overflow-y: scroll;
}

.post{
  margin-top: 2vh;
  width: 80vw;
  height: 12vh;
  background-color: #250b52;
  border-radius: 50px;
  border: 4px solid #6fff0070;
  color: #dbdbdb;
  box-shadow: 0px 5px 5px 0px #7A28FF;
  animation: post 3s infinite;
}

@keyframes post {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.fundoPost{
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display:flex;
}

/* Descrição Jogo*/

.spanTextoDesc{
  color:#4B8E1A;
  font-size: 35px;
}

.bordaDescricao{
  margin-top: 40px;
  margin-left: 3.8vw;
  width: 360px;
  height: 460px;
  background-image: linear-gradient(135deg, #7A28FF,#70FF00);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fundoMenorDescricao{
  width: 350px;
  height: 450px;
  background-image: linear-gradient(#202020, #4b228d);
  border-radius: 20px;
}

.descricao{
  margin-top: 3vh;
  color: #4B8E1A;
  animation: descricao 3s forwards;
}

@keyframes descricao {
  0% {
    transform: translateX(20px);
  }
}

.descricoes{
  width: 70vw;
  height: 35vh;
  text-align: start;
  margin-left: 13vw;
}

.nomeJogoDescricao{
  margin-top: 3vh;
  color:#4B8E1A;
  animation: TextoInfoDescricao 3s forwards;
}

.dataJogoDescricao{
  margin-top: 2vh;
}

.horaJogoDescricao{
  margin-top: 2vh;
}

.criadorJogoDescricao{
  margin-top: 2vh;
}

.marcadosDescricao{
  margin-top: 2vh;
}

.MarcarPresenca{
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  height: 8vh;
  width: 75vw;
  margin-top: 5vh;
  background-color: #2e0969;
  border-radius: 15px;
  border:3px solid #4B8E1A;
  animation: MarcarPresenca 3s infinite;
  box-shadow: 0px 4px 4px 0px #7A28FF;
}

@keyframes MarcarPresenca {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.navbar{
  position: fixed;
  bottom:2.5vh;
  left:4.5vh;
  width: 80vw;
  height: 7vh;
  background-color: #251D33;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
}

.imgCasa{
  margin-left: 7vw;
}

.imgPessoa{
  margin-right: 5vw;
}

.TextoInfoDescricao{
  margin-top: 3vh;
  margin-left: 19.5vw;
  width:60vw;
  border-radius: 15px;
  border-bottom: 3px solid #4B8E1A;
  box-shadow: 0px 5px 5px 0px #7A28FF;
  animation: TextoInfoDescricao 3s forwards;
}

@keyframes TextoInfoDescricao {
  0% {
    transform: translateX(-20px);
  }
}

/* Criar Posts */
.criar{
  margin-left: 25vw;
  margin-top: 3vh;
  width:50vw;
  border-radius: 15px;
  border-bottom: 3px solid #4B8E1A;
  box-shadow: 0px 5px 5px 0px #7A28FF;
  animation: criar 3s forwards;
}

@keyframes criar {
  0% {
    transform: translateX(-50px);
  }
}

.inputCriar{
  color: #ffffff;
  font-size: 17px;
  margin-top: 4vh;
  height: 6vh;
  width: 80vw;
  border: none;
  background-color: #202020;
  border-radius: 15px;
  padding-left: 15px;
  box-shadow: 0px 4px 4px 0px #7A28FF;
}

.preencha{
  margin-top: 2.5vh;
}
  
.criarPost{
  color: #ffffff;
  font-weight: 600;
  font-size: 30px;
  height: 7vh;
  width: 50vw;
  margin-top: 5vh;
  background-color: #2e056e;
  border-radius: 15px;
  border: 3px solid #275a02;
  animation: criarPost 3s infinite;
  box-shadow: 0px 5px 5px 0px #7A28FF;
}

@keyframes criarPost {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* Perfil */
.Perfil{
  margin-left: 27vw;
  margin-top: 1vh;
  width:45vw;
  border-radius: 15px;
  border-bottom: 3px solid #4B8E1A;
  box-shadow: 0px 5px 5px 0px #7A28FF;
  animation: Perfil 3s forwards;
}

@keyframes Perfil {
  0% {
    transform: translateX(50px);
  }
}

.fundoMenor{
  margin-top: 2vh;
  border-radius: 50px;
  border-top: 4px solid #53b60c;
}

.FundoPerfil{
  text-align: center;
  align-items: center;
  color: #ffffff;
  width: 100%;
  min-height: 100vh;
}

.apelido{
  margin-top: 1vh;
  color: #4B8E1A;
}

.apelidoUsuario{
  margin-left: 4.5vh;
  width: 80vw;
  animation: apelidoUsuario 2s forwards;
}

@keyframes apelidoUsuario {
  0% {
    transform: translateX(-70px);
  }
}

.divNome{
  margin-left: 4.5vh;
  margin-top: 2vh;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.idadePerfil{
  margin-top: 0.8vh;
}

.descricaoPerfil{
  margin-left: 4.5vh;
  margin-top: 1vh;
  width: 80vw;
  animation: descricaoPerfil 2s forwards;
}

@keyframes descricaoPerfil {
  0% {
    transform: translateX(50px);
  }
}

.meusInteresses{
  margin-top: 1.5vh;
  color: #4B8E1A;
}

.interesses{
  margin-left: 4.5vh;
  margin-top:1vh;
  width: 80vw;
  animation: interesses 2s forwards;
}

@keyframes interesses {
  0% {
    transform: translateX(-70px);
  }
}

.bordaPerfil{
  margin-top: 2vh;
  margin-left: 3.8vw;
  width: 360px;
  height: 400px;
  background-image: linear-gradient(135deg, #7A28FF,#70FF00);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fundoMenorPerfil{
  width: 350px;
  height: 390px;
  background-image: linear-gradient(#202020, #4b228d);
  border-radius: 20px;
  overflow-y: scroll;
}

.todosPostsPerfil{
  margin-top:4vh;
  margin-left: 27vw;
  width: 45vw;
  border-radius: 15px;
  border-bottom: 3px solid #4B8E1A;
  box-shadow: 0px 2px 2px 0px #7A28FF;
  animation: todosPostsPerfil 3s forwards;
}

@keyframes todosPostsPerfil {
  0% {
    transform: translateX(-50px);
  }
}

.alterarPerfil{
  margin-top: 0.5vh;
  width: 15vw;
  height: 4vh;
  background-color: #2d115c;
  border-radius: 50px;
  border: 3px solid #6fff008f;
  color: #dbdbdb;
  box-shadow: 0px 3px 3px 0px #7A28FF;
  animation: alterarPerfil 3s infinite;
}

@keyframes alterarPerfil {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}